.base {
  padding-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
.wrapper {

  padding: 10px;
  z-index: 200;
  border: 1px solid transparent;
  border-radius: 5px;

  &.primary {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
  }
  &.secondary {
    background-color: #e2e3e5;
    border-color: #d6d8db;
    color: #383d41;
  }
  &.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  &.danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
  &.warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
  }
  &.info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
  }
  &.light {
    background-color: #fefefe;
    border-color: #fdfdfe;
    color: #818182;
  }
  &.dark {
    background-color: #d6d8d9;
    border-color: #c6c8ca;
    color: #1b1e21;
  }
  .dropDown {
    z-index:10;
    position: absolute;
    color: #000;
    left:20px;
    top:25px;
    width:auto;
    min-width:40px;
    box-shadow: 1px 1px 5px grey;
    background-color: white;
    >div {
      border: 1px solid grey;
      width:100%;
      cursor: pointer;
    }
  }
}
