.base{
  width: 250px;
  border: 1px solid black;
  position: relative;
  .list {
    width:100%;
    position: relative;
    margin-top:20px;
    .listItem {
      text-align: center;
      border-top: 1px solid grey;
      font-size:14px;
      color: black;
      padding:10px;
      cursor: pointer;
      height:40px;
      box-sizing: border-box;
      &:hover {
        background-color: #d0d0d0;
      }
      &.disable {
        cursor: not-allowed;
      }
      &.active {
        background-color: cadetblue;
        color: white;
      }
    }
  }
}

.buttons {
  margin-top:-10px;
  position: absolute;
  top:50%;
  right:10px;
}

