.base{
  width: 450px;
  border: 1px solid black;
  position: relative;
  margin-left:10px;
  .list {
    width:100%;
    position: relative;
    margin-top:20px;
    .listItem {
      text-align: left;
      border-top: 1px solid grey;
      font-size:14px;
      color: black;
      padding:10px;
      height:40px;
      box-sizing: border-box;
      >div {
        display: inline-block;
      }
      .name {
        font-size:16px;
        font-weight:bold;
        padding-left:30px;
        &:after {
          content: ':'
        }
      }
      .value {
        font-size:14px;
        padding-left: 20px;
      }
    }
  }
}

.buttons {
  margin-top:-10px;
  position: absolute;
  top:50%;
  right:10px;
}
