.base{
  .title {
    font-size: 30px;
    padding: 0 20px;
  }
  .wrapper {
    font-size:0;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 20px;
    >* {
      vertical-align: top;
      display: inline-block;
    }
  }
}