
.base{
  width: 450px;
  border: 1px solid black;
  position: relative;
  margin: auto;
  background-color: white;
  .confirm {
    font-size: 18px;
    text-align: center;
    padding:20px 0;
    border-bottom: 1px solid grey;
    background-color: white;
  }
}

.buttons {
  background-color: lightblue;
  position: relative;
  width:100%;
  text-align: right;
  padding:10px;
  box-sizing: border-box;
}
.fields {
  padding: 20px 10px;
  .inputWrapper {
    padding: 5px;
    font-size: 16px;
    >* {
      display: inline-block;
      vertical-align: top;
    }
    .error {
      display: block;
      text-align: center;
      color: red;
      font-size: 14px;
      &.hide {
        display: none;
      }
    }
    label {
      margin-left: 30px;
      text-align: right;
      min-width: 100px;
      position: relative;
      &:after {
        content: ':'
      }
      .tooltip {
        display: none;
      }
      &:hover {
        .tooltip {
          display: block;
          background-color: rgba(0,0,0,.8);
          color: white;
          font-size: 10px;
          width: auto;
          position: absolute;
          bottom: 25px;
          right: 0;
          left: 0;
          margin: 0 auto;
          text-align: center;
          word-break: break-all;
        }
      }

    }
    input {
      font-size: 14px;
      margin-left: 10px;
      min-width: 200px;
      border:none;
      border-bottom: 1px solid grey;
      padding: 2px 5px;
      box-sizing: border-box;
      height: 25px;
      &:focus {
        border: none;
        outline:none;
        border-bottom: 1px solid burlywood;
      }
    }
  }
}

