
.base{
  width: 450px;
  border: 1px solid black;
  position: relative;
  margin: auto;
  background-color: white;
  .confirm {
    font-size: 18px;
    text-align: center;
    padding:20px 0;
    border-bottom: 1px solid grey;
    background-color: white;
  }
}

.buttons {
  background-color: lightblue;
  position: relative;
  width:100%;
  text-align: right;
  padding:10px;
  box-sizing: border-box;
}
