.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.base{
  width: 450px;
  border: 1px solid black;
  position: relative;
  margin: auto;
  background-color: white;
  .confirm {
    font-size: 18px;
    text-align: center;
    padding:20px 0;
    border-bottom: 1px solid grey;
    background-color: white;
  }
}

.buttons {
  background-color: lightblue;
  position: relative;
  width:100%;
  text-align: right;
  padding:10px;
  box-sizing: border-box;
}
.fields {
  padding: 20px 10px;
  .inputWrapper {
    padding: 5px;
    font-size: 16px;
    >* {
      display: inline-block;
      vertical-align: top;
    }
    label {
      margin-left: 30px;
      &:after {
        content: ':'
      }
    }
    input {
      font-size: 14px;
      margin-left: 10px;
      min-width: 200px;
      border:none;
      border-bottom: 1px solid grey;
      padding: 2px 5px;
      box-sizing: border-box;
      height: 25px;
      &:focus {
        border: none;
        outline:none;
        border-bottom: 1px solid burlywood;
      }
    }
  }
}

