.title {
  width:100%;
  background-color: darkslateblue;
  color: white;
  text-align: center;
  padding:0;
  margin:0;
  .wrapper {
    position: relative;
    width:100%;
    height:40px;
    line-height:40px;
    .text {
      width:100%;
      text-align: center;
      font-size: 14px;
    }
  }
}
.buttons {
  margin-top:-10px;
  position: absolute;
  top:50%;
  right:10px;
}